{% extends 'backend.html.twig' %}
{% block title %}{{ parent() }} Gestion des biens{% endblock %}
{% block body %}
    <section class="admin-content">
        <div class="bg-dark">
            <div class="container  m-b-30">
                <div class="row">
                    <div class="col-12 text-white p-t-40 p-b-90">
                        <h4 class="">  Gestion des biens</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="container  pull-up">
            <div class="row">
                <div class="col-lg-10">
                    <div class="card m-b-30">
                        <div class="card-header">
                            <h5 class="m-b-0">Modification</h5>
                        </div>
                        <div class="card-body ">
                            {{ form_start(edit_form)}}
                            <div class="form-row">
                                <div class="col-6 form-group">
                                    {{ form_widget(edit_form.categorie)}}
                                    {{ form_errors(edit_form.categorie) }}
                                </div>
                                <div class="col-6 form-group">
                                    {{ form_widget(edit_form.titre)}}
                                    {{ form_errors(edit_form.titre) }}
                                </div>
                                <div class="col-12 form-group">
                                    <label for="">Description</label>
                                    {{ form_widget(edit_form.description)}}
                                    {{ form_errors(edit_form.description) }}
                                </div>
                                <div class="col-12 form-group">
                                    <label for="">Mots clés</label>
                                    {{ form_widget(edit_form.tags)}}
                                    {{ form_errors(edit_form.tags) }}
                                </div>
                                <div class="col-12 form-group">
                                    <label for="">Google Map</label>
                                    {{ form_widget(edit_form.googleMap)}}
                                    {{ form_errors(edit_form.googleMap) }}
                                </div>
                                <div class="col-6 form-group">
                                    <label for="">Situation géographique</label>
                                    {{ form_widget(edit_form.adresse)}}
                                    {{ form_errors(edit_form.adresse) }}
                                </div>
                                <div class="col-6 form-group">
                                    <label for="">Contact</label>
                                    {{ form_widget(edit_form.telephone)}}
                                    {{ form_errors(edit_form.telephone) }}
                                </div>
                                <div class="col-6 form-group">
                                    <label for="">Site internet</label>
                                    {{ form_widget(edit_form.website)}}
                                    {{ form_errors(edit_form.website) }}
                                </div>
                                <div class="col-3 form-group">
                                    <label for="">Prix</label>
                                    {{ form_widget(edit_form.prix)}}
                                    {{ form_errors(edit_form.prix) }}
                                </div>
                                <div class="col-3 form-group">
                                    <label for="">Affichage du prix</label>
                                    {{ form_widget(edit_form.affichagePrix)}}
                                    {{ form_errors(edit_form.affichagePrix) }}
                                </div>
                                <div class="col-6 form-group">
                                    <label for="">Visite dossier</label>
                                    {{ form_widget(edit_form.visiteDossier)}}
                                    {{ form_errors(edit_form.visiteDossier) }}
                                </div>
                                <div class="col-6 form-group">
                                    <label for="">Visite lien</label>
                                    {{ form_widget(edit_form.visiteLien)}}
                                    {{ form_errors(edit_form.visiteLien) }}
                                </div>
                                <div class="col-6 form-group">
                                    <label for="">Partenaire</label>
                                    {{ form_widget(edit_form.partenaire)}}
                                    {{ form_errors(edit_form.partenaire) }}
                                </div>
                                <div class="col-6 form-group">
                                    <label for="">Mode</label>
                                    {{ form_widget(edit_form.mode)}}
                                    {{ form_errors(edit_form.mode) }}
                                </div>
                                <div class="col-6 form-group">
                                    <label for="">Date debut promo</label>
                                    {{ form_widget(edit_form.debutPromo)}}
                                    {{ form_errors(edit_form.debutPromo) }}
                                </div>
                                <div class="col-6 form-group">
                                    <label for="">Date fin promo</label>
                                    {{ form_widget(edit_form.finPromo)}}
                                    {{ form_errors(edit_form.finPromo) }}
                                </div>
                                <div class="col-12 form-group">
                                    {{ form_widget(edit_form.imageFile)}}
                                    {{ form_errors(edit_form.imageFile) }}
                                </div>
                            </div>
                            <div class="form-group text-right">
                                <a href="{{ path('backend_bien_index') }}" class="btn btn-default">Annuler</a>
                                <button class="btn btn-primary">Modifier</button>
                            </div>
                            {{ form_end(edit_form) }}
                            {% if (bien.nombreProduit is null)  %}
                                <div class="form-group text-left">
                                    {{ form_start(delete_form, {'attr': {'onsubmit': 'return confirm("Êtes-vous sur de vouloir supprimer ce bien ?");'}}) }}
                                    <button class="btn btn-danger"><i class="fa fa-trash"></i> Suprimer</button>
                                    {{ form_end(delete_form) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('ressources/vendor/tagsinput/js/bootstrap-tagsinput.css') }}">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src='{{ absolute_url(asset('ressources/assets/bundles/ba78fede76f682cd388ed2abbfd1e1568e76f8a4.js')) }}'></script>
    <script src="{{ asset('ressources/vendor/tagsinput/js/bootstrap-tagsinput.min.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <script>
        $(document).ready(function () {
            $("tag-input").tagsinput();
            $('#appbundle_bien_description').summernote();
        })
    </script>
{% endblock %}
