{% extends 'backend.html.twig' %}
{% block title %}{{ parent() }} Gestion des biens{% endblock %}
{% block body %}
    <section class="admin-content">
        <div class="bg-dark m-b-30">
            <div class="container">
                <div class="row p-b-60 p-t-60">

                    <div class="col-md-6 text-white p-b-30">
                        <div class="media">
                            <div class="avatar mr-3  avatar-xl">
                                <img src="{{ vich_uploader_asset(bien.partenaire, 'imageFile') }}" alt="..." class="avatar-img rounded-circle">
                            </div>
                            <div class="media-body m-auto">
                                <h5 class="mt-0">{{ bien.partenaire.nom}} </h5>
                                <div class="opacity-75">{{ bien.partenaire.adresse }} | {{ bien.partenaire.email}} | {{ bien.partenaire.contact}}</div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 text-white my-auto text-md-right p-b-30">

                        <div class="">
                            <p class="opacity-75"><a href="#!">{{ bien.partenaire.nombreBien}} biens</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pull-up">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Single post-->
                    <div class="card m-b-30">
                        <div class="card-header">
                            <div class="media">
                                <div class="media-body m-auto">
                                    <h5 class="m-0"><span class="badge badge-primary">{{ bien.categorie.libelle }}</span> {{ bien.titre }} </h5>
                                    <div class="opacity-75 text-muted">{{ bien.publiePar|title}} | {{ bien.publieLe|date('d-m-Y') }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-raw">


                        </div>
                        <div class="card-body">
                            <div class="p-b-10 text-center">
                                <img class="rounded" src="{{ vich_uploader_asset(bien, 'imageFile') }}" alt="">
                            </div>

                            <div class="row mt-5 mb-5">
                                <div class="col">
                                    <div class="opacity-75">
                                        <a href="{{ path('backend_bien_index') }}" class="m-r-5">
                                            <i class="fa fa-reply fa-lg"></i>
                                        </a>
                                        <a href="{{ path('backend_bien_edit', {'slug': bien.slug}) }}" class="m-r-5">
                                            <i class="fa fa-edit fa-lg"></i>
                                        </a>
                                        {% if bien.mode.libelle == "Promotion" %}
                                            <a href="#"><span class="badge badge-primary">Promotion</span>{{ bien.debutPromo|date('d-m-Y') }} / {{ bien.finPromo|date('d-m-Y') }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-auto d-flex align-items-center">
                                    {% if bien.visiteLien %}
                                        <a href="{{ path('frontend_bien_show', {'categorie': bien.categorie.slug, 'slug': bien.slug}) }}" class="" target="_blank">
                                            <i class="fa fa-street-view fa-2x"></i>
                                        </a>
                                    {% elseif bien.visiteDossier %}
                                        <a href="{{ asset('visiteguidee/'~bien.visiteDossier~'/index.html') }}" class="">
                                            <i class="fa fa-cube fa-2x"></i>
                                        </a>
                                    {% else %}
                                    {% endif %}
                                </div>
                            </div>
                            <p class="text-justify">
                                {{ bien.description|raw}}
                            </p>

                            <p class="mb-4">
                                {% for tag in bien.tags|split(',') %}
                                    <a href="#!" class="badge badge-soft-primary">{{ tag }}</a>
                                {% endfor %}
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">

                    <div class="card m-b-30">
                        <div class="card-header">
                            Autres informations
                        </div>
                        <div class="list-group list  list-group-flush">
                            <div class="list-group-item ">
                                <i class="mdi mdi-map-marker"></i> <a href="#" class="text-underline">
                                    {{ bien.adresse}}</a>
                            </div>
                            {% if bien.telephone %}
                                <div class="list-group-item ">
                                    <i class="fa fa-phone"></i> <a href="#" class="text-underline"> {{ bien.telephone}}</a>
                                </div>
                            {% endif %}
                            {% if bien.website %}
                                <div class="list-group-item ">
                                    <i class="fa fa-globe"></i> <a href="#" class="text-underline"> {{  bien.website }}</a>
                                </div>
                            {% endif %}
                            {% if bien.prix %}
                                <div class="list-group-item ">
                                    <i class="fa fa-money-bill"></i>  <a href="#" class="text-underline"> {{ bien.prix|number_format(0,'','.')}}</a> (visible)
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if bien.partenaire.biens %}
                        <div class="card m-b-30">
                            <div class="card-header">
                                Autres biens du partenaires
                            </div>
                            <div class="list-group list  list-group-flush">
                                {% for autreBien in bien.partenaire.biens|slice(0,5) %}
                                    <div class="list-group-item d-flex  align-items-center">
                                        <div class="m-r-20">
                                            <div class="avatar avatar-sm ">
                                                <img class="avatar-img rounded-circle" src="{{ vich_uploader_asset(autreBien, 'imageFile') }}" alt="">
                                            </div>
                                        </div>
                                        <div class="">
                                            <a href="{{ path('backend_bien_show', {'slug': autreBien.slug}) }}">
                                                <div class="name">{{ autreBien.titre }}</div>
                                                <div class="text-muted">{{ autreBien.categorie.libelle }}</div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src='{{ absolute_url(asset('ressources/assets/bundles/ba78fede76f682cd388ed2abbfd1e1568e76f8a4.js')) }}'></script>
{% endblock %}
