{% extends 'backend.html.twig' %}
{% block title %}{{ parent() }} Gestion des caroussels{% endblock %}
{% block body %}
    <section class="admin-content">
        <div class="bg-dark">
            <div class="container  m-b-30">
                <div class="row">
                    <div class="col-12 text-white p-t-40 p-b-90">
                        <h4 class="">  Gestion des caroussels</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="container  pull-up">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        {% for caroussel in caroussels %}
                            <div class="col-lg-6">
                                <!--widget card begin-->
                                <div class="card m-b-30">
                                    <div class="card-media pos-relative">
                                        <img class="card-img" src="{{ vich_uploader_asset(caroussel, 'imageFile') }}" alt="Card image">
                                        <div class="card-img-overlay text-white">
                                            <div class="card-controls">
                                                <!--<a href="#" class="badge">
													<i class="mdi mdi-eye-outline mdi-24px"></i> 124
												</a>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="fw-400 m-b-0">
                                            <a href="{{ path('backend_caroussel_edit', {'slug': caroussel.slug}) }}">{{ caroussel.titre }}</a>
                                        </h5>

                                    </div>
                                    <div class="card-footer ">
                                        <div class="row">
                                            <div class="col-md-12 text-md-left text-muted">
                                                <span class="badge badge-dark">{{ caroussel.domaine.libelle }}</span>
                                                {% if caroussel.statut %}
                                                    <span class="badge badge-primary">Actif</span>
                                                {% else %}
                                                    <span class="badge badge-danger">Inactif</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--widget card ends-->
                            </div>
                        {% endfor %}
                    </div>


                </div>
                <div class="col-lg-4">
                    <div class="card m-b-30">
                        <div class="card-header">
                            <h5 class="m-b-0">Enregistrement</h5>
                        </div>
                        <div class="card-body ">
                            {{ form_start(form)}}
                            <div class="form-row">
                                <div class="col-12 form-group">
                                    {{ form_widget(form.domaine)}}
                                    {{ form_errors(form.domaine) }}
                                </div>
                                <div class="col-12 form-group">
                                    {{ form_widget(form.titre)}}
                                    {{ form_errors(form.titre) }}
                                </div>
                                <div class="col-12 form-group">
                                    <label for="">(Dimension image 1600x700 px)</label>
                                    {{ form_widget(form.imageFile)}}
                                    {{ form_errors(form.imageFile) }}
                                </div>
                                <div class="col-12 form-group">
                                    {{ form_widget(form.statut)}}
                                    {{ form_errors(form.statut) }}
                                    <label for="">Statut</label>
                                </div>
                            </div>
                            <div class="form-group text-right">
                                <button class="btn btn-primary">Enregistrer</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src='{{ absolute_url(asset('ressources/assets/bundles/ba78fede76f682cd388ed2abbfd1e1568e76f8a4.js')) }}'></script>
{% endblock %}
