{% extends 'base.html.twig' %}

{% block body %}
    <h1>Caroussel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ caroussel.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ caroussel.titre }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if caroussel.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Imagename</th>
                <td>{{ caroussel.imageName }}</td>
            </tr>
            <tr>
                <th>Imagesize</th>
                <td>{{ caroussel.imageSize }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if caroussel.updatedAt %}{{ caroussel.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ caroussel.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ caroussel.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ caroussel.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ caroussel.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ caroussel.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_caroussel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_caroussel_edit', { 'id': caroussel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
