{% extends 'base.html.twig' %}
{% block title %}{{ bien.titre }}{% endblock %}
{% block meta %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
{% endblock %}
{% block body %}
	<section class="breadcrumb parallax margbot30"></section>
	<section class="banner_section">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<iframe style="max-width: 100%;" width="640" height="600" frameborder="0" allowfullscreen src="{{ bien.visiteLien}}"></iframe>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 details">
					<span class="badge badge-primary">{{ bien.categorie.libelle }}</span>
					<span class="badge badge-secondary pull-right">{{ bien.mode.libelle }}</span>
					<div class="bien-titre">{{ bien.titre}}</div>
					<ul class="bien_meta pull-right">
						{% if bien.visiteDossier %}
							<a href="{{ absolute_url(asset('visiteguidee/'~bien.visiteDossier~'/index.html'))}}" class="fancybox fancybox.iframe" title="Visite guidée">
								<li><i class="fa fa-street-view fa-2x"></i>Visite guidée</li>
							</a>
						{% endif %}
						{% if bien.nombreVue > 1 %}
							<li><i class="fa fa-eye fa-lg"></i>{{ bien.nombreVue}} vues </li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="contacts_block">

		<div class="container">

			<div class="row padbot30">
				<div class="col-lg-6 col-md-6 padbot30">
					{% if bien.googleMap %}
						<div id="map">
							<iframe src="{{ bien.googleMap}}" width="600" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
						</div>
					{% else %}
						<div id="map">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1986.0561616476339!2d-4.000887957046322!3d5.399853829143264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc194bdbdaa6907%3A0x7e17ba45ba010bf1!2sParoisse%20Sainte%20Monique%2C%20L%20289%2C%20Abidjan%2C%20C%C3%B4te%20d&#39;Ivoire!5e0!3m2!1sfr!2sci!4v1573979198368!5m2!1sfr!2sci" width="600" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
						</div>
					{% endif %}
				</div>

				<div class="col-lg-3 col-md-3 col-sm-6 padbot30">
					<ul class="contact_info_block">
						<li>
							<h3><b>DESCRIPTIONS</b></h3>
							{{ bien.description|raw }}
						</li>
						<li>
							<h3><b>Autres informations</b></h3>
							{% if bien.adresse %}
								<p><i class="fa fa-map-pin"></i> {{ bien.adresse}}</p>
							{% endif %}
							{% if bien.website %}
								<p><i class="fa fa-globe"></i> {{ bien.website}}</p>
							{% endif %}
							{% if bien.telephone %}
								<p><i class="fa fa-phone"></i> {{ bien.telephone}}</p>
							{% endif %}
							{% if bien.affichagePrix %}
								<p><i class="fa fa-money-bill"></i> {{ bien.prix}}</p>
							{% endif %}
						</li>
					</ul>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-6 padbot30">
					<div class="contact_form">
						<img src="{{ absolute_url(asset(vich_uploader_asset(bien.partenaire, 'imageFile'))) }}" alt="{{ bien.partenaire.nom }}" class="img-responsive">
						<p>Contactez le partenaire</p>

						<div id="note"></div>
						<div id="fields">
							<form action="#">
								<input type="text" name="name" class="form-control" placeholder="Nom *" required />
								<input type="email" name="email" class="form-control" placeholder="E-mail *" required /><br>
								<input type="text" name="phone" class="form-control" placeholder="Telephone" />
								<textarea class="form-control" name="message" placeholder="Message" required ></textarea>
								<input class="btn active" type="submit" value="Envoyer" />
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% if produits %}
		<section class="new_arrivals padbot50">

			<div class="container">
				<h2>Les articles</h2>

				<div class="jcarousel-wrapper">

					<div class="jCarousel_pagination">
						<a href="javascript:void(0);" class="jcarousel-control-prev" ><i class="fa fa-angle-left"></i></a>
						<a href="javascript:void(0);" class="jcarousel-control-next" ><i class="fa fa-angle-right"></i></a>
					</div>

					<div id="jcarousel_id" class="jcarousel">
						<ul>
							{% for produit in produits|slice(0,10) %}
								<li>
									<!-- TOVAR -->
									<div class="tovar_item_new">
										<div class="tovar_img">
											<img src="{{ absolute_url(asset(vich_uploader_asset(produit, 'imageFile'))) }}" alt="" />
											<a class="open-project tovar_view" href="javascript:void(0);" data-toggle="modal" data-target="#produit{{ loop.index }}" >Voir</a>
										</div>
										<div class="tovar_description clearfix">
											<a class="tovar_title" href="{{ path('frontend_produit_show', {'slug': produit.slug}) }}" >{{ produit.marque}} {{ produit.reference }}</a>
											<span class="tovar_price">{{ produit.prix|number_format(0,'','.') }} FCFA</span>
										</div>
									</div><!-- //TOVAR -->
								</li>
							{% endfor %}
						</ul>
						{% for produit in produits|slice(0,10) %}
							<div class="modal fade" id="produit{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<a href="#" data-dismiss="modal" class="class pull-right"><span class="fa fa-close"></span></a>
											<h3 class="modal-title">{{produit.marque}}</h3>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-md-6 product_img">
													<img src="{{ absolute_url(asset(vich_uploader_asset(produit, 'imageFile'))) }}" class="img-responsive">
												</div>
												<div class="col-md-6 product_content">
													<h4>Reference: <span> {{ produit.reference }}</span></h4>
													{{ produit.description|raw}}
													<h3 class="cost"><span class="fa fa-money-bill"></span> {{ produit.prix|number_format(0,'','.')}} FCFA</h3>
													<div class="space-ten"></div>
													<div class="btn-ground">
														<a href="{{ path('frontend_produit_show', {'slug': produit.slug}) }}" class="btn btn-primary"><span class="fa fa-list-alt"></span> Voir le produit</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('visiteguidee/lib/jquery.mousewheel.pack.js') }}"></script>

	<script type="text/javascript" src="{{ asset('visiteguidee/source/jquery.fancybox.pack.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ asset('visiteguidee/source/jquery.fancybox.css')}}" media="screen" />

	<link rel="stylesheet" type="text/css" href="{{ asset('visiteguidee/source/helpers/jquery.fancybox-buttons.css')}}" />
	<script type="text/javascript" src="{{ asset('visiteguidee/source/helpers/jquery.fancybox-buttons.js')}}"></script>

	<link rel="stylesheet" type="text/css" href="{{ asset('visiteguidee/source/helpers/jquery.fancybox-thumbs.css')}}" />
	<script type="text/javascript" src="{{ asset('visiteguidee/source/helpers/jquery.fancybox-thumbs.js')}}"></script>

	<script type="text/javascript" src="{{ asset('visiteguidee/source/helpers/jquery.fancybox-media.js')}}"></script>

	<script type="text/javascript">
        $(document).ready(function() {
            /*
			 *  Simple image gallery. Uses default settings
			 */

            $('.fancybox').fancybox();

            /*
			 *  Different effects
			 */

            // Change title type, overlay closing speed
            $(".fancybox-effects-a").fancybox({
                helpers: {
                    title : {
                        type : 'outside'
                    },
                    overlay : {
                        speedOut : 0
                    }
                }
            });

            // Disable opening and closing animations, change title type
            $(".fancybox-effects-b").fancybox({
                openEffect  : 'none',
                closeEffect	: 'none',

                helpers : {
                    title : {
                        type : 'over'
                    }
                }
            });

            // Set custom style, close if clicked, change title type and overlay color
            $(".fancybox-effects-c").fancybox({
                wrapCSS    : 'fancybox-custom',
                closeClick : true,

                openEffect : 'none',

                helpers : {
                    title : {
                        type : 'inside'
                    },
                    overlay : {
                        css : {
                            'background' : 'rgba(238,238,238,0.85)'
                        }
                    }
                }
            });

            // Remove padding, set opening and closing animations, close if clicked and disable overlay
            $(".fancybox-effects-d").fancybox({
                padding: 0,

                openEffect : 'elastic',
                openSpeed  : 150,

                closeEffect : 'elastic',
                closeSpeed  : 150,

                closeClick : true,

                helpers : {
                    overlay : null
                }
            });

            /*
			 *  Button helper. Disable animations, hide close button, change title type and content
			 */

            $('.fancybox-buttons').fancybox({
                openEffect  : 'none',
                closeEffect : 'none',

                prevEffect : 'none',
                nextEffect : 'none',

                closeBtn  : false,

                helpers : {
                    title : {
                        type : 'inside'
                    },
                    buttons	: {}
                },

                afterLoad : function() {
                    this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
                }
            });


            /*
			 *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
			 */

            $('.fancybox-thumbs').fancybox({
                prevEffect : 'none',
                nextEffect : 'none',

                closeBtn  : false,
                arrows    : false,
                nextClick : true,

                helpers : {
                    thumbs : {
                        width  : 50,
                        height : 50
                    }
                }
            });

            /*
			 *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
			*/
            $('.fancybox-media')
                .attr('rel', 'media-gallery')
                .fancybox({
                    openEffect : 'none',
                    closeEffect : 'none',
                    prevEffect : 'none',
                    nextEffect : 'none',

                    arrows : false,
                    helpers : {
                        media : {},
                        buttons : {}
                    }
                });

            /*
			 *  Open manually
			 */

            $("#fancybox-manual-a").click(function() {
                $.fancybox.open('1_b.jpg');
            });

            $("#fancybox-manual-b").click(function() {
                $.fancybox.open({
                    href : 'iframe.html',
                    type : 'iframe',
                    padding : 5
                });
            });

            $("#fancybox-manual-c").click(function() {
                $.fancybox.open([
                    {
                        href : '1_b.jpg',
                        title : 'My title'
                    }, {
                        href : '2_b.jpg',
                        title : '2nd title'
                    }, {
                        href : '3_b.jpg'
                    }
                ], {
                    helpers : {
                        thumbs : {
                            width: 75,
                            height: 50
                        }
                    }
                });
            });


        });
	</script>
{% endblock %}
