{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produitimage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produitImage.id }}</td>
            </tr>
            <tr>
                <th>Imagename</th>
                <td>{{ produitImage.imageName }}</td>
            </tr>
            <tr>
                <th>Imagesize</th>
                <td>{{ produitImage.imageSize }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if produitImage.updatedAt %}{{ produitImage.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ produitImage.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ produitImage.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ produitImage.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ produitImage.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_produitimage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_produitimage_edit', { 'id': produitImage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
