{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mode</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mode.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ mode.libelle }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ mode.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ mode.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ mode.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ mode.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ mode.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_mode_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_mode_edit', { 'id': mode.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
